* {
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

.table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: large;
}
td,th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
footer {
    width: 100%;
    min-height: 100px;
    background-color: #000000;
    color: #f2f2f2;
    bottom: 0%;
    text-align: center;
    font-size: larger;
}
h1 {
    font-size: large;
    text-align: center;
    font-style: inherit;
}
p {font-size: large;
}

.trackName {
    font-size: 15px;
    font-weight: bolder;
   
}
h1 {
    text-align: center;
    color: #000;
}
p {
    text-align: justify;
    color: #000;
}
.footer {
    text-align: left;
    width: 100%;
    min-height: 100px;
    background-color: #333;
    color: #f2f2f2;
    bottom: 0;
    }
.searchBar {
    text-align: center;
    margin-top: 130px;
    
}
.form-control {
    width: 80%;
    border-radius: 10px;
}
.messAge {
    padding-top: 20px;
}
