* {
    background-color: #efefef !important;
}
h1{
    text-transform: uppercase;
    text-align: justify;
    text-decoration: #00ffff;
    font-family: Arial, Helvetica, sans-serif;
}
.single-vid{
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-top: 30px;
    background-color: #fff;
}
.single-vid img{
    width: 100%;
}
.blog-meta{
    font-size: 14px;
    margin-bottom: 2px;
}
.blog-text{
    font-size: 14px;
    text-align: justify;
}

.single-vid h2{
    margin-top: 10px;
    font-size: 16px;
    color: #007bff;
}
single-vid h2 a{
    text-decoration: none;
}